[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]

countryName = Country Name (2 letter code)
countryName_value = DE

0.organizationName = Organization Name
0.organizationName_value = Hochschule Trier - Trier University of Applied Sciences

#organizationalUnitName = Organizational Unit Name (eg, section)

localityName = City
localityName_value = Trier

postalCode = Postal Code
postalCode_value = 54293

street = Street
street_value = Schneidershof

commonName = Common Name
commonName_value = $commonName

emailAddress = Email Address
emailAddress_value = $email

[smime]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
extendedKeyUsage = emailProtection

[v3_req]
subjectAltName = @alt_names

[alt_names]
